
p {
 color:rgb(0, 0, 0);
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

	
	body {
		background-color: rgb(238, 211, 238);
	  }
	  
	  h1 {
		color: rgb(20, 1, 1);
		text-align: center;
	  }
	  
	  p {
		font-family: verdana;
		font-size: 20px;
	  }
	  